<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>
        Search:
        <input ng-model="$ctrl.query">
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="slug">Alphabetical</option>
          <option value="order">Order Number</option>
        </select>
      </p>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="individuals">
        <li ng-repeat="individual in $ctrl.individuals | filter:$ctrl.query | orderBy:$ctrl.orderProp">
          <a href="#/phones/{{phone.id}}" class="thumb">
            <img ng-src="{{individual.imageUrl}}" alt="{{individual.slug}}" width="50" />
          </a>
          <a href="#/phones/{{phone.id}}">{{individual.slug}} ({{individual.order}})</a>
          {{individual.public | checkmark}}
        </li>
      </ul>

    </div>
  </div>
</div>
