<html lang="en" ng-app="svenCodesNode">
  <head>
    <meta charset="utf-8">
    <title>sven.codes</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Angular -->
    <script src="/angular/angular.js"></script>
    <script src="/angular-route/angular-route.js"></script>
    <script src="/angular-resource/angular-resource.js"></script>
    <!-- Client -->
    <script src="/javascripts/client.module.js"></script>
    <script src="/javascripts/client.config.js"></script>
    <!-- List -->
    <script src="/javascripts/profile-list/profile-list.module.js"></script>
    <script src="/javascripts/profile-list/profile-list.component.js"></script>
    <!-- Detail -->
    <script src="/javascripts/profile-detail/profile-detail.module.js"></script>
    <script src="/javascripts/profile-detail/profile-detail.component.js"></script>
    <!-- Core & filters -->
    <script src="/javascripts/core/core.module.js"></script>
    <script src="/javascripts/core/checkmark/checkmark.filter.js"></script>
    <!-- Core & services -->
    <script src="/javascripts/core/profile/profile.module.js"></script>
    <script src="/javascripts/core/profile/profile.service.js"></script>
  </head>
  <body>

    <header>

    </header>
    <h1>{{ 'Welcome ' + name }}</h1>

    <input ng-model="name">

    <hr>

    <div ng-view></div>

    <footer>
      <p>Made with <a href="https://nodejs.org/en/" target="_blank">node</a>, <a href="https://angularjs.org" target="_blank">angular</a> and <a href="http://sven.codes" target="_blank">&#10084</a>.</p>
      <p>Source code available: <a href="https://github.com/sven-straubinger/sven-codes-node" target="_blank">https://github.com/sven-straubinger/sven-codes-node</a></p>
    </footer>

  </body>
</html>
