/* style.css */

body {
    color: white;
    background-color: black;

            transition: background-color .3s ease-out;
         -o-transition: background-color .3s ease-out;
       -moz-transition: background-color .3s ease-out;
    -webkit-transition: background-color .3s ease-out;
}

a,
a:hover {
    color: #00a091;
}

/* Icons */
.icon {
    border: 1px solid white;
    border-radius: 50%;
    padding: 14px;
    margin: 10px 0;
    display: block;
}

.icon:hover {
    padding: 18px;
}

.icon img {
    width: 100%;
}

/* Header */
header,
.navbar,
.navbar-inverse {
    background-color: transparent;
}

.navbar.navbar-inverse {
    border: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.page {
    padding-top: 50px;
    min-height: 100vh;
}

hr {
    border-color: rgb(60,60,60);
    border-bottom:0;
}

footer {
    position: relative;
    text-align: center;
    font-size: 0.85em;
    padding-bottom: 8px;
}

footer p {
    margin: 0 0 4px;
}

#scroll-indicator {
    cursor: pointer;
    width: 100%;
    left: 0;
    bottom: 16px;
    text-align: center;
    position: fixed;
}

.navbar-inverse .navbar-nav>li>a {
    color: inherit;
    text-transform: uppercase;
    letter-spacing:1px;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    background-color: inherit;
    font-weight: bold;
}

.navbar-right li:last-child {
    padding-right: 15px;
}

/* Vertically center */
.vertical-centered-container { text-align: center; }
.vertical-centered-item { float: none; display: inline-block; }

/* Mixins */
.no-margin-top { margin-top: 0 !important; }
.bg-turquoise { background-color: #00a091; }

/* Brand Background Colors */
.bg-stackoverflow { background-color: rgb(254, 122, 22); }
.bg-googleplus { background-color: rgb(220, 78, 65); }
.bg-instagram { background-color: rgb(228, 64, 95); }
.bg-linkedin { background-color: rgb(0, 119, 181); }
.bg-snapchat { background-color: rgb(255, 252, 0); }
.bg-twitter { background-color: rgb(85, 172, 238); }
.bg-github { background-color: rgb(204, 204, 204); }
.bg-xing { background-color: rgb(0, 90, 95); }

.icon-stackoverflow:hover { background-color: rgb(254, 122, 22); }
.icon-googleplus:hover { background-color: rgb(220, 78, 65); }
.icon-instagram:hover { background-color: rgb(228, 64, 95); }
.icon-linkedin:hover { background-color: rgb(0, 119, 181); }
.icon-snapchat:hover { background-color: rgb(255, 252, 0); }
.icon-twitter:hover { background-color: rgb(85, 172, 238); }
.icon-github:hover { background-color: rgb(204, 204, 204); }
.icon-xing:hover { background-color: rgb(0, 90, 95); }
