/* style.css */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

main {
    min-height: 100vh;
}

footer {
    position: relative;
    bottom: 75px;
    text-align: center;
}
