/* style.css */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

main {
    min-height: 100vh;
}

footer {
    text-align: center;
    line-height: 0.85em;
    font-size: 0.85em;
}
